version: 1
disable_existing_loggers: False
formatters:
  simple: 
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  file_handler:
    class: logging.FileHandler
    level: DEBUG
    formatter: simple
    filename: C:\\Dorus\\logs\\training.log
    mode: 'w'
  file_handler_2:
    class: logging.FileHandler
    level: DEBUG
    formatter: simple
    filename: C:\\Dorus\\logs\\shaped_reward.log
    mode: 'w'
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: simple
loggers:
  "__main__":
    level: INFO
    handlers: ["file_handler"]
    propogate: False
  logger_root:
    level: INFO
    handlers: ["file_handler"]
    propogate: False 
  shaped_reward:
    level: INFO
    handlers: ["file_handler_2"]
    propogate: False 